@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Coffee";
    font-weight: 300;
    src: url("./love.ttf") format("truetype");
}
@font-face {
    font-family: "Dreams";
    font-weight: 300;
    src: url("./ballon.ttf") format("truetype");
}
@font-face {
    font-family: "arFont";
    font-weight: 300;
    src: url("./arFont.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("./roboto.ttf") format("truetype");
}